.relative-wrapper { position: relative; }
.absolute { position: absolute; }
.content-container {
  /*margin-top: 70px;*/
}

label {
  font-weight: bold;
}

#navbar-main {
  height: 30px;
  a {
    padding: 6px;
  }
}

.navbar-default {

  background-color: #000000;
  .container {
    height: 40px !important;
  }
}

.form-control {
  color: inherit;
}
.relative-wrapper {
  position: relative;
}
.absolute {
  position: absolute;
}
.navbar-brand {
  padding: 0px;
  .main-logo {
    max-height: 42px;
  }
  span {
    margin-top: 10px;
    margin-left: 10px;
  }
}

td {
  i {
    float: left;
    margin-right: 5px;
  }
}


.remove-field,.link-field {
  display:none !important;

}

.remove-field-parent:hover {
  .remove-field,.link-field {
    display: inline-block !important;
  }

}

.image-grouping {

}

input.edit-service-label {
  color: #000000;
}

/* Service selector has outstanding style due to its importance */
select#select-service {

  cursor: pointer;

    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;

  -webkit-transition: box-shadow 0.31s linear;
  -moz-transition: box-shadow 0.31s linear;
  -ms-transition: box-shadow 0.31s linear;
  -o-transition: box-shadow 0.31s linear;
  transition: box-shadow 0.31s linear;

  font-size: 20pt;

  width: 350px;

  padding: 0;
  option {
    margin: 0;
  }
}

select#select-service:hover {

  box-shadow: 0px 0px 20px #C87F0A;
}

a.hide-field {
  display:none;
}

.label-wrapper:hover {
  a.hide-field {
    display: inline-block;
  }
}

.record-detail-view {
  table {
    tr {
      padding-bottom: 10px;
      td {
        padding: 5px;
      }
    }
  }
}


.typeahead,
.image-typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
  cursor: pointer;

}

.tt-suggestion p {
  margin: 0;
}

.edit-model-preview {

  max-width: 100px;

  max-height: 100px;

  float: right;

  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);

}

.panel-title {

  color: black;
  font-size: 14px;
  font-weight: bold;

}

a {
  color: #000;
}

.badge {
  font-weight: bold;
}
.badge {
  background-color: #008cba;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12pt;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.navbar-nav {

  li {

    a {

      margin-top: 5px;
    }
  }
}

.input-error {

  border: 2px red solid;

}