                <div class="form-group">
                    <label class="col-lg-2 control-label" for="__id__">__label__</label>
                    <div class="col-lg-10 relative-wrapper">
                        <input type="text" placeholder="__label__" id="__id__" class="typeahead form-control saveable-data typeaheadkey-__collection__">
                        <div style="display:none" id="__id___typeahead_results" class="typeahead-results">

                        </div>
                    </div>
                </div>