<!DOCTYPE html>
<html>
<head>
    <title>Your admin privileges</title>
</head>
<body>
<h2>Your user account has been upgraded</h2>
<h3>You now have administrative privileges for the website</h3>
<p>Effective immediately, your account now has administrative privileges, and you may use
these privileges to manage site content and behaviors.</p>
<p>While logged in, you should see a new menu item towards the top right "Manage Site" which will give you access to the
administrative panel.</p>
<p>You can also open the panel by clicking <a href="#admin_panel">Here</a></p>
<p>If that doesn't work, you can copy and paste this link into your browser's address bar:</p>
<p>#admin_panel</p>
<p>Should you ever have any problems accessing your account, you can send us a message
from the same email address, to: <a href="mailto:info@alquemedia.com">Alquemedia Information Services</a></p>
<p>&copy; 2015 Alquemedia SAS, all rights reserved</p>
</body>
</html>