<!DOCTYPE html>
<html>
<head>
    <title>Notificación de Activación de Contrato de Servicio</title>
</head>
<body>
<h2>Notificación de Activación de Contrato de Servicio</h2>
<p>Tu contrato de servicio ha sido activado:</p>
<ul>
    <li>Contrato: #service_contract_name</li>
    <li>Tipo: #service_contract_type_name</li>
    <li>Activo: #website_name</li>
    <li>Cuenta: #account_name</li>
    <li>Contacto: #account_contact_name</li>
    <li>Servicio Comienza: #service_start_date</li>
    <li>Servicio Termina: #service_end_date</li>
    <li>Correo electrónico para notificaciones: #notification_email</li>
</ul>
<p>Te invitamos a contactarnos en caso de dudas or preguntas sobre los servicios prestados bajo cuyo contrato.</p>
<p>Favor de enviar un mensaje desde el correo indicado por arriba a: <a href="mailto:info@alquemedia.com">Alquemedia SAS</a></p>
<p>&copy; 2015 Alquemedia SAS, todos los derechos reservados</p>
</body>
</html>