<!DOCTYPE html>
<html>
<head>
    <title>Tu comentario ha sido recibido</title>
</head>
<body>
<h2>Tu comentario ha sido recibido</h2>
<p>Recibimos tu comentario de blog, y una vez aprobado por el administrador del sitio,
tu comentario aparecerá debajo del mismo artículo.</p>
<p>Datos capturados:</p>
<ul>
    <li>Artículo: #blog_entry_title</li>
    <li>Tu nombre: #full_name</li>
    <li>Correo: #email</li>
    <li>Comentario: #comment</li>
</ul>
<p>Te invitamos a contactarnos en caso de dudas or preguntas sobre esta comunicación.</p>
<p>Favor de enviar un mensaje desde el correo indicado por arriba a: <a href="mailto:admin@scavalledelcauca.or">S.C.A. Valle del Cauca</a></p>
<p>&copy; 2015 S.C.A. Valle del Cauca, todos los derechos reservados</p>
</body>
</html>