<!DOCTYPE html>
<html>
<head>
    <title>Un comentario necesita aprobación</title>
</head>
<body>
<h2>Se he dejado un nuevo comentario de blog</h2>
<p>Un visitado del sitio web dejó un nuevo comentario de blog, que necesita aprobación</p>
<p>Datos capturados:</p>
<ul>
    <li>Artículo: #blog_entry_title</li>
    <li>Nombre: #full_name</li>
    <li>Correo: #email</li>
    <li>Comentario: #comment</li>
    <li>Enlace para aprobar: #parnassus_direct_link</li>
</ul>
<p>&copy; 2015 S.C.A. Valle del Cauca, todos los derechos reservados</p>
</body>
</html>