<!DOCTYPE html>
<html>
<head>
    <title>Confirmar Subscripcion</title>
</head>
<body>
<h2>Confirmación de Subscripción a Casa del Poeta</h2>
<h3>Falta un paso más para confirmar tu subscripción</h3>

<p>Para confirmar tu subscripción puedes visitar la siguiente dirección en el navegador:</p>

<p><a href="#confirmation_link">Confirmar mi subscripción</a></p>
<p>Si no te funcionó la enlace, copiar la siguiente ruta a la barra de dirección del navegador:</p>
<p>#confirmation_link</p>
<p>&copy; 2015 Alquemedia SAS, todos los derechos reservados</p>
</body>
</html>