<html>
<head>
    <title>Access Recovery</title>
</head>
<body>

<h3>Request to Recover Password</h3>

<p>This email is being sent because you requested to recover your password.</p>

<p>Continue the process, by clicking on the link below:</p>

<a href="#password_reset_link">Click here to continue</a>

<p>If that link doesn't work, you can copy the below address into your browser's address bar to continue.</p>

<p>#password_reset_link</p>

<p>For more help, send a message to <a href="mailto:#help_email">#organization_name</a></p>

<p>Copyright &copy; 2015 #organization_name all rights reserved</p>

</body>
</html>
