<!DOCTYPE html>
<html>
<head>
    <title>We want you back</title>
</head>
<body>
<h2>We haven't seen you in a while</h2>
<p>Dear #first_name,</p>
<p>It looks like you haven't logged into your account in about #logged_in_ago.</p>
<p>You can login, using the following URL: #login_url</p>
<p>Should you have any problems accessing your account, you can send us a message
from the same email address, to: <a href="mailto:#help_email">#organization_name</a></p>
<p>&copy; 2015 #organization_name, all rights reserved</p>
</body>
</html>