<!DOCTYPE html>
<html>
<head>
    <title>New Private Message</title>
</head>
<body>
<h2>You've received a new private message</h2>
<p>#sender_name sent you a new private message, or responded to your previous message.</p>
<p>To read their message, and reply, follow the link below:</p>
<p><a href="#message_reply_url">Read and Send Messages</a></p>
<p>If that link didn't work, you can copy the below link into your browser's address bar:</p>
<p>#message_reply_url</p>
<p>If you're having trouble accessing your messages, you can reply to this
email, or contact us at <a href="mailto:#help_email">#organization_name</a></p>
<p>&copy; 2015 #organization_name, All rights reserved.</p>
</body>
</html>