<!DOCTYPE html>
<html>
<head>
    <title>Welcome to our Portal</title>
</head>
<body>
<h2>Welcome to the Web Portal</h2>
<h3>Your new login account has been successfully created</h3>
<p>Thanks for creating an account in our portal.   We've captured the following details for your new account:</p>
<ul>
    <li>First Name: #first_name</li>
    <li>Last Name: #last_name</li>
    <li>Email address: #email</li>
    <li>Password: (on file)</li>
</ul>
<p>Should you ever have any problems accessing your account, you can send us a message
from the same email address, to: <a href="mailto:info@alquemedia.com">Alquemedia Information Services</a></p>
<p>&copy; 2015 Alquemedia SAS, all rights reserved</p>
</body>
</html>