<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido a Nuestro Portal Web</title>
</head>
<body>
<h2>Bienvenido a Nuestro Portal Web</h2>
<h3>Tu cuenta de usuario ha sido creada exitosamente</h3>
<p>Gracias por crear tu cuenta.   Hemos guardado los siguientes datos:</p>
<ul>
    <li>Nombres: #first_name</li>
    <li>Apellidos: #last_name</li>
    <li>Correo Electronico: #email</li>
    <li>Contraseña: (on file)</li>
</ul>
<p>En caso de problemas con tu cuenta, favor de enviar un mensaje desde el mismo correo a: <a href="mailto:info@alquemedia.com">Alquemedia Information Services</a></p>
<p>&copy; 2015 Alquemedia SAS, todos los derechos reservados</p>
</body>
</html>