<!DOCTYPE html>
<html>
<head>
    <title>Work Order Working</title>
</head>
<body>
<h2>Status of your Work Order</h2>
<p>This automated email is a courtesy notice, to let you know that we've started working on your
recently submitted Work Order:</p>
<ul>
    <li>Work Order: #title</li>
    <li>Asset: #website_name</li>
    <li>Downloadable PDF: <a href="#downloadable_pdf_file">Click to open PDF</a></li>
    <li>Account: #account_name</li>
    <li>Primary Contact: #account_contact_name</li>
    <li>Email for notifications: #notification_email</li>
</ul>
<p>If you have any questions or concerns about your work order, please reply to this email from the same email we have on file,
    or send to: <a href="mailto:info@alquemedia.com">Alquemedia SAS</a></p>
<p>&copy; 2015 Alquemedia SAS, all rights reserved</p>
</body>
</html>